<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>It-So Community</title>
</head>
<body>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/community.css">

    <title>In The Streets Of:</title>
  </head>
  <body>
    <header>

      <span class="menuBars">
        <a href=""><i class="fas fa-bars"></i></a>
      </span>
      <a class="logo" href="index.ejs"></<section class="logo"></section></a>
      <ul>
        <li>
          <a href="#">Sign Up</a>
        </li>
        <li>
            <a href="#">Log In</a>
        </li>
      </ul>
    </header>
    <section class="column motivate">

      <section class="media">

        <form class="" action="" method="post">
          <textarea name="textarea"
   rows="10" cols="50">Write something here</textarea>
          <button type="submit" name="button">Send</button>
        </form>

        <!-- interaction with others can post videos, pictures, songs for motivation -->

        </section>

        <section class="posts media">
          <p>ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>
          <i class="fas fa-thumbs-up"></i>



    </section>
    <section class="column postthread">
      <form class="" action="" method="post">
        <textarea name="textarea"
  rows="10" cols="50">Write something here</textarea>
        <button type="submit" name="button">Send</button>
      </form>

      <section class="posts communityQ">
    <p>ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </section>
      <i class="fas fa-thumbs-up"></i>


    </section>

</body>
</html>
