<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Applicant Form</title>
</head>
<body>
  <header>

    <span class="menuBars">
      <a href=""><i class="fas fa-bars"></i></a>
    </span>
    <a class="logo" href="index.ejs"></<section class="logo"></section></a>
    <ul>
      <li>
        <a href="#">Sign Up</a>
      </li>
      <li>
          <a href="/login">Log In</a>
      </li>
    </ul>
  </header>


</body>
</html>
