<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/loginstyle.css">
  <title>LOG IN</title>
</head>

<body>
  <header>

    <span class="menuBars">
      <a href=""><i class="fas fa-bars"></i></a>
    </span>
    <a class="logo" href="/"></<section class="logo"></section></a>
    <ul>
      <li>
        <a href="/signup">Sign Up</a>
      </li>
      <li>
          <a href="/login">Log In</a>
      </li>
    </ul>
  </header>
  <div class="content-contain">
  <div class="content">
  <i class="fas fa-sign-in-alt loginIcon"></i>

  <!-- login form -->
    <h2>Welcome, please LOG IN</h2>
    <% if (message.length > 0) { %>
       <div class="alert alert-danger"><%= message %></div>
   <% } %>
   
    <form class="" action="/login" method="POST">
      <input type="text" name="username" value="" placeholder="Username">
      <input type="password" name="password" value="" placeholder="Password">
      <button type="submit">LOG IN</button>
      <span><a href="">Forgot Password?</a></span>
      <span> - Or LOG IN with - </span>
      <ul class="socialmedia">
        <li><i class="fab fa-facebook"></i> </li>
        <li><i class="fab fa-google-plus-square"></i></li>
        <li><i class="fab fa-instagram"></i></li>
      </ul>

    </form>
    <hr>

<p>Need an account?<a href="/signup">Signup</a></p>
<p>Or go <a href="/">home</a>.</p>

  </div>
</div>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</body>

</html>
