<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/profile.css">
  <title>It-So:Profile Page</title>
</head>
<body>
  <header>

    <span class="menuBars">
      <a href=""><i class="fas fa-bars"></i></a>
    </span>
    <a class="logo" href="/"></<section class="logo"></section></a>
    <ul>
      <li>
        <a href="community.ejs">Community Boards</a>
      </li>
      <li>
          <a href="/">Log Out</a>
      </li>
    </ul>
  </header>

  <section class="connect">

  <button id="connect" type="button" name="button">Connect</button>

    <h1>Name</h1>
      <img src="images/jim.jpg" alt="profile picture">
  <h2>Known Locations:</h2>
  <section class="locations">

    <ol class="locations">
      <li>Park Street - Most Mornings</li>
      <li>Boylston Street & Clarendon Street - Weekends</li>
      <li>JVC on Wednesday</li>
      <li></li>
    </ol>
    </section>
  </section>
  <section class="story">
    <h1>My Story:</h1>
    <p>ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </section>
  <section class="gameplan">
    <h1>My Game Plan:</h1>
  <p> ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <ol class="steps">
    <h2>Steps To Success:</h2>
    <li>Build & Posts Resume</li>
    <li>Apply to atleast 1 job a day</li>
    <li></li>
    <li></li>
    <li></li>

  </ol>
  <div class="asksSeperator">

  </div>
  <section class="asks">
    <h2>My Asks:</h2>
    <ol>
      <li>Deoderant</li>
      <li>Hand Warmers</li>
      <li>Clean sox</li>
    </ol>

  </section>
  </section>
  <section class="skills">

  </section>

</body>
</html>
