<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
<link rel="stylesheet" href="../css/search.css">
  <title>Search Applicants</title>
</head>
<body>
  <header>
      <span class="menuBars">
        <a href=""><i class="fas fa-bars"></i></a>
      </span>
      <a class="logo" href="index.ejs"></<section class="logo"></section></a>
      <ul>
        <li>
          <a href="#">Sign Up</a>
        </li>
        <li>
            <a href="#">Log In</a>
        </li>
      </ul>
    </header>

      <section class="searchfield">
      <input type="text" placeholder="Search Applicant Profiles">
      <i class="fas fa-search searchIcon"></i>


      <form>

    <h2 for="subscribeNews">Search All Applicants</h2>
    <h3 class="filter" for=""> OR Filter By:</h3>
    <div class="select-contain">

<div class="searchSelect">
    <label for="location">Location:</label>
    <input type="checkbox" id="location" name="location" value="Location">
    <label for="skills">Skills:</label>
    <input type="checkbox" id="skills" name="skills" value="skills">
    <label for="email">Email</label>
    <input type="checkbox" id="email" name="email" value="email">
    </div>
    <button class="searchBtnBtn" type="submit">Search</button>
</div>


</form>

      </section>
    <section class="searchResults">
      <section class="results">
        <section class="applicant applicant1">
          <img src="../images/gettyimg.jpg" alt="">
          <h1>Name</h1>
          <h2>Headline</h2>
          <span>
            <a href="#">View Profile</a>
          </span>

      </section>
      <section class="results">
        <section class="applicant applicant1">
          <img src="../images/gettyimg.jpg" alt="">
          <h1>Name</h1>
          <h2>Headline</h2>
          <span>
            <a href="#">View Profile</a>
          </span>
      </section>
      <section class="results">
        <section class="applicant">
          <img src="../images/gettyimg.jpg" alt="">
          <h1>Name</h1>
          <h2>Headline</h2>
          <span>
            <a href="#">View Profile</a>
          </span>
      </section>
      <section class="results">
        <section class="applicant">
          <img src="../images/gettyimg.jpg" alt="">
          <h1>Name</h1>
          <h2>Headline</h2>
          <span>
            <a href="#">View Profile</a>
          </span>
      </section>


    </section>


</body>
</html>
