* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */

}
/*  =========Header ======== */
.logo{
  background-image: url("../images/itsoLogoGreen.jpg");
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 30em;
  margin-top: .5%;
  margin-left: 25%;
  border-radius: 5px;

}
header{
  height: 120px;
  width: 100%;
border-radius: 5px;
  /* border: 1px solid black; */
  background-color: rgb(28,24,39);
}
header a{
  color: rgba(93, 148, 97, 0.54);
padding: 1em;

}
li{
  display: inline-block;
  margin-left: 5%;
  padding: 1em;
  font-weight: 600;
}
li, span, .logo{
  float: left;
}

span, li{
  border: 1.5px solid rgba(93, 148, 97, 0.54);
  border-radius: 5px;
  margin-top: 2%;
}
ul > li{
  margin-left: 20%;
}
li + li{
  margin-left: 2%;
}
.menuBars{
  margin-left: -1%;
  margin-top: 1%;
  font-size: 4em;
  border: none;

}

.content:before{
  content: "";
  position: fixed;
  left: 1;
  right: 1;
  z-index: -1;

  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  width: 1400px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.content{
  position: fixed;
  border-radius: 5px;
  left: 0;
  right: 0;
  z-index: 1;
  margin-left: 33%;
  margin-top: 1%;
  padding: 2em;
  width: 30%;
  background-color: rgba(93, 148, 97, 0.54);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

}

h2{

  margin-left: 17%;
  font-size: 2em;
}

img{
  border: 3px solid white;
  border-radius: 5%;
  height: 180px;
  width: 190px;
  margin-left: 25%;
  margin-top: -10%;
}
 /* ===========form =========*/
button{
  margin-left: 26%;
  height: 4em;
  width: 50%;
  font-weight: 900;
  border-radius: 5px;
  background-color: rgb(28,24,39);
  color: white;
}
form{
  border: 3px solid white;
  height: 300px;
  width: 20em;
  margin-left: 20%;
  border-radius: 5%;
  padding: 10px;
}
input{
  width: 100%;
  height: 2em;
  margin-top: 10%;
  margin-bottom: 7%;
  text-align: center;
  font-size: 1.2em;
  border-radius: 5%;
}
span{
  margin-left: 29%;
font-size: .9em;
color: white;
font-weight: 900;
}
.loginIcon{
  font-size: 10em;
  color: rgb(28,24,39);
  margin-left: 30%;
}
.socialmedia{
margin-bottom: 1%;
}
 li i{
  color: white;
  list-style: none;
  display: inline-block;
  float: left;
  margin-left: 8.7%;
  margin-bottom: 1%;
  font-size: 2em;
}

/* ======== End Form ======= */
